global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

ping: {}

log:
  level: INFO

entryPoints:
  http:
    address: :80
    forwardedHeaders:
      trustedIPs: &trustedIps
        # Start of Cloudlare's public IP list
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: :443
    forwardedHeaders:
      # Reuse the list of Cloudflare's public IPs from above
      trustedIPs: *trustedIps
    http:
      tls:
        options: tls-opts@file
        certResolver: dns-cloudflare
        domains:
          - main: <fqdn> # environment variables can't be used in the static configuration file
            sans:
              - '*.<fqdn>'
              - '*<"internal" fqdn>'

  gitea2222:
    address: :2222/tcp
  teamspeak10011:
    address: :10011/tcp
  teamspeak30033:
    address: :30033/tcp
  teamspeak9987:
    address: :9987/udp
  gitea2222:
    address: :2222/tcp

providers:
  providersThrottleDuration: 2s
  file:
    directory: /config/dynamic
    watch: true
  docker:
    watch: true
    network: proxy
    exposedByDefault: false

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.4

accessLog:
  filePath: /logs/access.log
  format: json
  filters:
    statusCodes:
      - "200-299" # log successful http requests
      - "400-599" # log failed http requests
  bufferingSize: 0 # optimized for crowdsec
  fields:
    headers:
      defaultMode: drop # drop all headers per default
      names:
          User-Agent: keep # log user agent strings

certificatesResolvers:
  dns-cloudflare:
    acme:
      storage: /data/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"