services:
  vector:
    image: docker.io/timberio/vector:latest-alpine
    container_name: vector
    hostname: ${HOSTNAME}
    restart: always
    volumes:
      - ./config/vector.yaml:/etc/vector/vector.yaml:ro
    user: root
    environment:
      DOCKER_HOST: tcp://monitoring-socket-proxy:2375
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://0.0.0.0:8686/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      monitoring-socket-proxy:
        condition: service_healthy

  node-exporter:
    container_name: node-exporter
    image: prom/node-exporter:latest
    hostname: ${HOSTNAME}
    restart: always
    network_mode: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /etc/node-exporter:/etc/node-exporter:ro
      - ./config/prometheus_web.yml:/config/web.yml
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
      - --collector.textfile.directory=/etc/node-exporter
      - --web.config.file=/config/web.yml
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@localhost:9100/ > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  cadvisor:
    container_name: cadvisor
    image: ghcr.io/google/cadvisor:v0.53.0
    hostname: ${HOSTNAME}
    restart: always
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /:/rootfs:ro
      - /dev/disk/:/dev/disk:ro
      - /sys:/sys:ro
      - /var/run:/var/run:ro
    command:
      - --docker=tcp://monitoring-socket-proxy:2375
      - --storage_duration=5m0s
      - --housekeeping_interval=30s
      - --docker_only=true
      - --enable_metrics=cpu,memory,network
    labels:
      traefik.enable: true
      traefik.http.routers.cadvisor-rtr.entrypoints: https
      traefik.http.routers.cadvisor-rtr.rule: Host(`$CADVISOR_FQDN`)
      traefik.http.routers.cadvisor-rtr.middlewares: chain-basic-auth@file
      traefik.http.routers.cadvisor-rtr.service: cadvisor-svc
      traefik.http.services.cadvisor-svc.loadbalancer.server.port: 8080
    networks:
      - proxy
      - default

  monitoring-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: monitoring-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      CONTAINERS: 1
      INFO: 1
      IMAGES: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  proxy:
    external: true
