services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    hostname: crowdsec
    restart: always
    ports:
      - 8080:8080 # LAPI
      - 7422:7422 # AppSec API
      - 6060:6060 # Prometheus metrics
    security_opt:
      - no-new-privileges=true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/etc/crowdsec
      - ./data:/var/lib/crowdsec/data
      - ./logs:/var/log
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/syslog:/var/log/syslog:ro
      - /var/log/kern.log:/var/log/kern.log:ro
      - ../traefik/logs:/var/log/traefik/logs:ro
      - ../nextcloud/logs:/var/log/nextcloud/logs:ro
      - ../jellyfin/nginx/logs:/var/log/jellyfin/nginx/logs:ro
    environment:
      COLLECTIONS: "crowdsecurity/sshd crowdsecurity/linux crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/whitelist-good-actors crowdsecurity/iptables crowdsecurity/nextcloud crowdsecurity/apache2 Dominic-Wagner/vaultwarden LePresidente/jellyfin LePresidente/jellyseerr crowdsecurity/teamspeak3 firix/authentik corvese/apache-guacamole crowdsecurity/nginx crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs"
      CUSTOM_HOSTNAME: $HOSTNAME
      GID: $GID
      DOCKER_HOST: tcp://crowdsec-socket-proxy:2375
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:8080/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - proxy
      - default
    depends_on:
      crowdsec-db:
        condition: service_healthy
      crowdsec-socket-proxy:
          condition: service_healthy

  crowdsec-db:
    image: mariadb:11.6.2
    container_name: crowdsec-db
    hostname: crowdsec-db
    restart: always
    volumes:
      - ./sql:/var/lib/mysql/
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_PASSWORD
      MYSQL_DATABASE: $MYSQL_DB
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  crowdsec-bouncer-cloudflare:
    image: crowdsecurity/cloudflare-worker-bouncer:latest
    container_name: crowdsec-bouncer-cloudflare
    hostname: crowdsec-bouncer-cloudflare
    restart: always
    ports:
      - 2112:2112
    volumes:
      - ./cloudflare-bouncer/config/cfg.yaml:/etc/crowdsec/bouncers/crowdsec-cloudflare-worker-bouncer.yaml
    depends_on:
      crowdsec:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2112/metrics > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  crowdsec-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: crowdsec-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      CONTAINERS: 1
      INFO: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  proxy:
    external: true
