services:
  teamspeak:
    image: teamspeak:latest
    container_name: teamspeak
    restart: always
    ports:
      - 30033:30033 # do not use traefik so that real ips are logged (crowdsec is doing it's job via host firewall bouncer)
      - 9987:9987/udp # do not use traefik so that real ips are logged (crowdsec is doing it's job via host firewall bouncer)
    volumes:
      - ./data:/var/ts3server/
    environment:
      TS3SERVER_LICENSE: accept
      TS3SERVER_LOG_APPEND: 1
      TS3SERVER_SERVERADMIN_PASSWORD: ${TS3SERVER_SERVERADMIN_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "netstat -ltn | grep -c 30033"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
