services:
  code-server:
    build: .
    container_name: code-server
    restart: always
    volumes:
      - ./config:/config
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      PROXY_DOMAIN: $FQDN
      DEFAULT_WORKSPACE: /config/workspace
      DOCKER_MODS: linuxserver/mods:code-server-python3
      CS_DISABLE_GETTING_STARTED_OVERRIDE: 1
      EXTENSIONS_GALLERY: '{"serviceUrl":"https://marketplace.visualstudio.com/_apis/public/gallery","cacheUrl":"https://vscode.blob.core.windows.net/gallery/index","itemUrl":"https://marketplace.visualstudio.com/items"}'
      command: --disable-telemetry
    labels:
      traefik.enable: true
      traefik.http.routers.code-server-rtr.entrypoints: https
      traefik.http.routers.code-server-rtr.rule: Host(`$FQDN`)
      traefik.http.routers.code-server-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.code-server-rtr.service: code-server-svc
      traefik.http.services.code-server-svc.loadbalancer.server.port: 8443
      com.centurylinklabs.watchtower.enable: false
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8443/healthz || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  proxy:
    external: true
