services:
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
      AUTOHEAL_INTERVAL: 60
      AUTOHEAL_START_PERIOD: 300
      WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}
      DOCKER_SOCK: tcp://autoheal-socket-proxy:2375
    depends_on:
      autoheal-socket-proxy:
        condition: service_healthy

  autoheal-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: autoheal-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      ALLOW_START: 1
      ALLOW_RESTART: 1
      ALLOW_STOP: 1
      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3