services:
  telegraf:
    image: telegraf:latest
    container_name: telegraf
    hostname: telegraf
    restart: always
    volumes:
      - ./telegraf:/etc/telegraf
    environment:
      TZ: $TZ
    healthcheck:
      test: ["CMD-SHELL", "telegraf version || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      victoriametrics:
        condition: service_healthy

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./grafana:/var/lib/grafana
    user: "$PUID"
    environment:
      TZ: $TZ
      GF_SERVER_DOMAIN: $GRAFANA_SERVER
      GF_SERVER_ROOT_URL: https://$GRAFANA_SERVER
      GF_SERVER_HTTP_PORT: 3003
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_NAME: authentik
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: $AUTH_CLIENT
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: $AUTH_SECRET
      GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: $AUTH_URL/application/o/authorize/
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: $AUTH_URL/application/o/token/
      GF_AUTH_GENERIC_OAUTH_API_URL: $AUTH_URL/application/o/userinfo/
      GF_AUTH_SIGNOUT_REDIRECT_URL: $AUTH_URL/application/o/$AUTH_SLUG/end-session/
      GF_AUTH_OAUTH_AUTO_LOGIN: false
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: contains(groups, '$AUTH_ADMIN_GROUP') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:3003/healthz || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      traefik.enable: true
      traefik.http.routers.grafana-rtr.entrypoints: https
      traefik.http.routers.grafana-rtr.rule: Host(`$GRAFANA_SERVER`)
      traefik.http.routers.grafana-rtr.middlewares: chain-no-auth@file
      traefik.http.routers.grafana-rtr.service: grafana-svc
      traefik.http.services.grafana-svc.loadbalancer.server.port: 3003
    networks:
      - proxy
      - default

  vector:
    image: docker.io/timberio/vector:latest-alpine
    container_name: vector
    hostname: ${HOSTNAME}
    restart: always
    volumes:
      - ./config/vector.yaml:/etc/vector/vector.yaml:ro
    user: root
    environment:
      VECTOR_LOG: info
      DOCKER_HOST: tcp://monitoring-socket-proxy:2375
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://0.0.0.0:8686/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      victorialogs:
        condition: service_started
      monitoring-socket-proxy:
        condition: service_healthy

  victorialogs:
    image: victoriametrics/victoria-logs:latest
    container_name: victorialogs
    hostname: victorialogs
    restart: always
    volumes:
      - ./vldata:/vldata
    command:
      - --storageDataPath=/vldata
      - --httpListenAddr=:9428
      - --retentionPeriod=90d
      - --retention.maxDiskSpaceUsageBytes=60GiB
      - --httpAuth.username=${BASIC_AUTH_USER}
      - --httpAuth.password=${BASIC_AUTH_PASSWORD}
    labels:
      traefik.enable: true
      traefik.http.routers.victorialogs-rtr.entrypoints: https
      traefik.http.routers.victorialogs-unauth.rule: Host(`$VICTORIALOGS_FQDN`) && PathPrefix(`/insert`)
      traefik.http.routers.victorialogs-unauth.service: victorialogs-svc
      traefik.http.routers.victorialogs-rtr.rule: Host(`$VICTORIALOGS_FQDN`)
      traefik.http.routers.victorialogs-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.victorialogs-rtr.service: victorialogs-svc
      traefik.http.services.victorialogs-svc.loadbalancer.server.port: 9428
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@0.0.0.0:9428/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - proxy
      - default

  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoriametrics
    hostname: victoriametrics
    restart: always
    volumes:
      - ./vmdata:/vmdata
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --storageDataPath=/vmdata
      #- --graphiteListenAddr=:2003
      #- --opentsdbListenAddr=:4242
      - --httpListenAddr=:8428
      #- --influxListenAddr=:8089
      - --vmalert.proxyURL=http://vmalert:8880
      - --promscrape.config=/etc/prometheus/prometheus.yml
      - --retentionPeriod=90d
      #- --retention.maxDiskSpaceUsageBytes=30GiB # Not supported for metrics
      - --httpAuth.username=${BASIC_AUTH_USER}
      - --httpAuth.password=${BASIC_AUTH_PASSWORD}
    environment:
      GOGC: 100 # Set garbage collection target percentage to 100 to reduce cpu usage in cost of higher memory usage (default: 30)
    labels:
      traefik.enable: true
      traefik.http.routers.victoriametrics-rtr.entrypoints: https
      traefik.http.routers.victoriametrics-unauth.rule: Host(`$VICTORIAMETRICS_FQDN`) && PathPrefix(`/api`)
      traefik.http.routers.victoriametrics-unauth.service: victoriametrics-svc
      traefik.http.routers.victoriametrics-rtr.rule: Host(`$VICTORIAMETRICS_FQDN`)
      traefik.http.routers.victoriametrics-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.victoriametrics-rtr.service: victoriametrics-svc
      traefik.http.services.victoriametrics-svc.loadbalancer.server.port: 8428
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@0.0.0.0:8428/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - proxy
      - default

  node-exporter:
    container_name: node-exporter
    image: prom/node-exporter:latest
    hostname: ${HOSTNAME}
    restart: always
    network_mode: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /etc/node-exporter:/etc/node-exporter:ro
      - ./config/prometheus_web.yml:/config/web.yml
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
      - --collector.textfile.directory=/etc/node-exporter
      - --web.config.file=/config/web.yml
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@localhost:9100/ || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  cadvisor:
    container_name: cadvisor
    image: ghcr.io/google/cadvisor:v0.53.0
    hostname: ${HOSTNAME}
    restart: always
    privileged: true
    volumes:
      - /etc/machine-id:/etc/machine-id:ro
      - /etc/localtime:/etc/localtime:ro
      - /:/rootfs:ro
      - /dev/disk/:/dev/disk:ro
      - /sys:/sys:ro
      - /var/run:/var/run:ro
    command:
      - --docker=tcp://monitoring-socket-proxy:2375
      - --storage_duration=5m0s
      - --housekeeping_interval=30s
      - --docker_only=true
      - --enable_metrics=cpu,memory,network

  vmalert:
    container_name: vmalert
    image: victoriametrics/vmalert:latest
    restart: always
    volumes:
      - ./config/alerts.yml:/etc/alerts/alerts.yml
    command:
      - --datasource.url=http://victoriametrics:8428/
      - --datasource.basicAuth.username=${BASIC_AUTH_USER}
      - --datasource.basicAuth.password=${BASIC_AUTH_PASSWORD}
      - --remoteRead.url=http://victoriametrics:8428/
      - --remoteRead.basicAuth.username=${BASIC_AUTH_USER}
      - --remoteRead.basicAuth.password=${BASIC_AUTH_PASSWORD}
      - --remoteWrite.url=http://victoriametrics:8428/
      - --remoteWrite.basicAuth.username=${BASIC_AUTH_USER}
      - --remoteWrite.basicAuth.password=${BASIC_AUTH_PASSWORD}
      - --notifier.url=http://alertmanager:9093/
      - --rule=/etc/alerts/*.yml
      - --external.url=https://${VMALERT_FQDN}
      - --httpAuth.username=${BASIC_AUTH_USER}
      - --httpAuth.password=${BASIC_AUTH_PASSWORD}
    labels:
      traefik.enable: true
      traefik.http.routers.vmalert-rtr.entrypoints: https
      traefik.http.routers.vmalert-rtr.rule: Host(`$VMALERT_FQDN`)
      traefik.http.routers.vmalert-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.vmalert-rtr.service: vmalert-svc
      traefik.http.services.vmalert-svc.loadbalancer.server.port: 8880
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@0.0.0.0:8880/health > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - proxy
      - default

  alertmanager:
    container_name: alertmanager
    image: prom/alertmanager:latest
    restart: always
    volumes:
      - ./config/alertmanager.yml:/config/alertmanager.yml
      - ./config/prometheus_web.yml:/config/web.yml
    command:
      - --config.file=/config/alertmanager.yml
      - --web.config.file=/config/web.yml
    labels:
      traefik.enable: true
      traefik.http.routers.alertmanager-rtr.entrypoints: https
      traefik.http.routers.alertmanager-rtr.rule: Host(`$ALERTMANAGER_FQDN`)
      traefik.http.routers.alertmanager-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.alertmanager-rtr.service: alertmanager-svc
      traefik.http.services.alertmanager-svc.loadbalancer.server.port: 9093
    networks:
      - proxy
      - default
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://${BASIC_AUTH_USER}:${BASIC_AUTH_PASSWORD}@localhost:9093/-/healthy > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      vmalert:
        condition: service_healthy

  monitoring-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: monitoring-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      CONTAINERS: 1
      INFO: 1
      IMAGES: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  proxy:
    external: true
