services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    hostname: $HOSTNAME
    restart: always
    security_opt:
      - no-new-privileges=true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/etc/crowdsec
      - ./data:/var/lib/crowdsec/data
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/syslog:/var/log/syslog:ro
      - /var/log/kern.log:/var/log/kern.log:ro
      - ../traefik/logs:/var/log/traefik/logs:ro
    environment:
      COLLECTIONS: "crowdsecurity/sshd crowdsecurity/linux crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/whitelist-good-actors"
      DISABLE_LOCAL_API: "true"
      AGENT_USERNAME: $HOSTNAME
      AGENT_PASSWORD: $CROWDSEC_AGENT_PASSWORD
      LOCAL_API_URL: http://$LOCAL_API_URL
      GID: $GID
      APPSEC_URL: $APPSEC_API_URL
      DOCKER_HOST: tcp://crowdsec-socket-proxy:2375
    healthcheck:
      test: ["CMD-SHELL", "cscli version || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      crowdsec-socket-proxy:
          condition: service_healthy

  crowdsec-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: crowdsec-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      CONTAINERS: 1
      INFO: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3