services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin
    hostname: jellyfin
    restart: always
    user: $PUID:$PGID
    group_add:
      - 993
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs
      - ./cache:/cache
      - ./web-config/web-config.json:/jellyfin/jellyfin-web/config.json
      - /mnt/media/shows:/data/shows:ro
      - /mnt/media/movies:/data/movies:ro
    environment:
      TZ: $TZ
      JELLYFIN_PublishedServerUrl: https://$FQDN
      JELLYFIN_DATA_DIR: /data
      JELLYFIN_CONFIG_DIR: /config
      JELLYFIN_LOG_DIR: /logs
      JELLYFIN_CACHE_DIR: /cache
    devices:
      - /dev/dri:/dev/dri
    networks:
      - proxy
      - default

  jellyfin-proxy:
    image: nginx:alpine
    container_name: jellyfin-proxy
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs:/var/log/nginx
    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin-rtr.entrypoints: https
      traefik.http.routers.jellyfin-rtr.rule: Host(`$FQDN`)
      traefik.http.routers.jellyfin-rtr.middlewares: chain-no-auth-jellyfin@file
      traefik.http.routers.jellyfin-rtr.service: jellyfin-svc
      traefik.http.services.jellyfin-svc.loadbalancer.server.port: 80
    networks:
      - proxy
      - default
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      jellyfin:
        condition: service_healthy

  jellyfin-search:
    image: getmeili/meilisearch:v1.25.0
    container_name: jellyfin-search
    restart: always
    volumes:
      - ./meilisearch:/meili_data
    environment:
      MEILI_MASTER_KEY: "QhLaDw%kVyo5VmJu"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:7700/health | grep available"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  proxy:
    external: true
