services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: always
    volumes:
      - ./sabnzbd:/config
      - ./downloads/sabnzbd:/downloads/sabnzbd
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    labels:
      traefik.enable: true
      traefik.http.routers.sabnzbd-rtr.entrypoints: https
      traefik.http.routers.sabnzbd-rtr.rule: Host(`$SABNZBD_FQDN`)
      traefik.http.routers.sabnzbd-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.sabnzbd-rtr.service: sabnzbd-svc
      traefik.http.services.sabnzbd-svc.loadbalancer.server.port: 8085
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8085 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: always
    volumes:
      - ./radarr:/config
      - /mnt/media/movies:/movies
      - ./downloads:/downloads
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      WEBUI_PORT: 7878
    labels:
      traefik.enable: true
      traefik.http.routers.radarr-rtr.entrypoints: https
      traefik.http.routers.radarr-rtr.rule: Host(`$RADARR_FQDN`)
      traefik.http.routers.radarr-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.radarr-rtr.service: radarr-svc
      traefik.http.services.radarr-svc.loadbalancer.server.port: 7878
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:7878/ping | grep OK"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: always
    volumes:
      - ./sonarr:/config
      - /mnt/media/shows:/shows
      - ./downloads:/downloads
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      WEBUI_PORT: 8989
    labels:
      traefik.enable: true
      traefik.http.routers.sonarr-rtr.entrypoints: https
      traefik.http.routers.sonarr-rtr.rule: Host(`$SONARR_FQDN`)
      traefik.http.routers.sonarr-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.sonarr-rtr.service: sonarr-svc
      traefik.http.services.sonarr-svc.loadbalancer.server.port: 8989
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:8989/ping | grep OK"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: always
    volumes:
      - ./prowlarr:/config
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      WEBUI_PORT: 9696
    labels:
      traefik.enable: true
      traefik.http.routers.prowlarr-rtr.entrypoints: https
      traefik.http.routers.prowlarr-rtr.rule: Host(`$PROWLARR_FQDN`)
      traefik.http.routers.prowlarr-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.prowlarr-rtr.service: prowlarr-svc
      traefik.http.services.prowlarr-svc.loadbalancer.server.port: 9696
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:9696/ping | grep OK"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: always
    volumes:
      - ./bazarr:/config
      - /mnt/media/movies:/movies
      - /mnt/media/shows:/shows
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      WEBUI_PORT: 6767
    labels:
      traefik.enable: true
      traefik.http.routers.bazarr-rtr.entrypoints: https
      traefik.http.routers.bazarr-rtr.rule: Host(`$BAZARR_FQDN`)
      traefik.http.routers.bazarr-rtr.middlewares: chain-authentik-auth@file
      traefik.http.routers.bazarr-rtr.service: bazarr-svc
      traefik.http.services.bazarr-svc.loadbalancer.server.port: 6767
    networks:
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:6767/api || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  samba:
    image: ghcr.io/servercontainers/samba:latest
    container_name: samba-downloads
    restart: always
    environment:
      ACCOUNT_florian: $SMBUSER_PASSWORD
      UID_florian: 1000
      GID_florian: 1000
      SAMBA_VOLUME_CONFIG_downloads: "[downloads]; path=/shares/downloads; available = yes; browsable = yes; writable = yes; read only = no; valid users = florian; public = yes; guest ok = yes"
    volumes:
      - ./downloads:/shares/downloads
    ports:
      - 445:445

networks:
  proxy:
    external: true
