services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    restart: always
    environment:
      TZ: $TZ
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_INCLUDE_RESTARTING: true
      WATCHTOWER_INCLUDE_STOPPED: true
      WATCHTOWER_REVIVE_STOPPED: false
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: discord://$DISCORD_TOKEN_WEBHOOK
      WATCHTOWER_SCHEDULE: 0 0 5 * * *
      DOCKER_HOST: tcp://watchtower-socket-proxy:2375
    depends_on:
      watchtower-socket-proxy:
        condition: service_healthy

  watchtower-socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: watchtower-socket-proxy
    restart: always
    environment:
      TZ: $TZ
      LOG_LEVEL: warning
      POST: 1
      CONTAINERS: 1
      DELETE: 1
      IMAGES: 1
      NETWORKS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    read_only: true
    tmpfs:
      - /run
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --no-verbose --tries=1 http://localhost:2375/version > /dev/null 2>&1 || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3