services:
  authentik-proxy:
    image: ghcr.io/goauthentik/proxy:latest
    restart: always
    container_name: authentik-proxy
    environment:
      AUTHENTIK_HOST: $AUTHENTIK_FQDN
      AUTHENTIK_INSECURE: true
      AUTHENTIK_TOKEN: $AUTHENTIK_TOKEN
    labels:
      traefik.enable: true
      traefik.http.routers.authentik-rtr.entrypoints: https
      traefik.http.routers.authentik-rtr.rule: Host(`$HOST.$DOMAIN`) || HostRegexp(`{subdomain:[A-Za-z0-9](?:[A-Za-z0-9\-]{0,61}[A-Za-z0-9])?}.$DOMAIN`) && PathPrefix(`/outpost.goauthentik.io/`)
      traefik.http.routers.authentik-rtr.middlewares: chain-no-auth@file
      traefik.http.routers.authentik-rtr.service: authentik-svc
      traefik.http.services.authentik-svc.loadbalancer.server.port: 9000
    networks:
      - proxy

networks:
  proxy:
    external: true