name: default_ip_remediation
#debug: true

filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip"

decisions:
 - type: ban
   duration: 72h

duration_expr: Sprintf('%dh', 24 * (GetDecisionsCount(Alert.GetValue()) * GetDecisionsCount(Alert.GetValue()) + 1))

notifications:
 - http_default

on_success: break
---
name: default_range_remediation
#debug: true

filters:
 - Alert.Remediation == true && Alert.GetScope() == "Range"

decisions:
 - type: ban
   duration: 72h

duration_expr: Sprintf('%dh', 24 * (GetDecisionsCount(Alert.GetValue()) * GetDecisionsCount(Alert.GetValue()) + 1))

notifications:
 - http_default

on_success: break
